apis-laravel/.phpunit.cache
apis-laravel/node_modules
apis-laravel/public/build
apis-laravel/public/hot
apis-laravel/public/storage
apis-laravel/storage/*.key
apis-laravel/vendor
apis-laravel/.env
apis-laravel/.env.backup
apis-laravel/.env.production
apis-laravel/.phpunit.result.cache
apis-laravel/Homestead.json
apis-laravel/Homestead.yaml
apis-laravel/auth.json
apis-laravel/npm-debug.log
apis-laravel/yarn-error.log
apis-laravel/.fleet
apis-laravel/.idea
apis-laravel/.vscode

appli-react/node_modules
appli-react/.pnp
appli-react/.pnp.js
appli-react/coverage
appli-react/build
appli-react/.DS_Store
appli-react/.env.local
appli-react/.env.development.local
appli-react/.env.test.local
appli-react/.env.production.local
appli-react/npm-debug.log*
appli-react/yarn-debug.log*
appli-react/yarn-error.log*
