FRAMEWORK/apis-laravel/.phpunit.cache
FRAMEWORK/apis-laravel/node_modules
FRAMEWORK/apis-laravel/public/build
FRAMEWORK/apis-laravel/public/hot
FRAMEWORK/apis-laravel/public/storage
FRAMEWORK/apis-laravel/storage/*.key
FRAMEWORK/apis-laravel/vendor
FRAMEWORK/apis-laravel/.env
FRAMEWORK/apis-laravel/.env.backup
FRAMEWORK/apis-laravel/.env.production
FRAMEWORK/apis-laravel/.phpunit.result.cache
FRAMEWORK/apis-laravel/Homestead.json
FRAMEWORK/apis-laravel/Homestead.yaml
FRAMEWORK/apis-laravel/auth.json
FRAMEWORK/apis-laravel/npm-debug.log
FRAMEWORK/apis-laravel/yarn-error.log
FRAMEWORK/apis-laravel/.fleet
FRAMEWORK/apis-laravel/.idea
FRAMEWORK/apis-laravel/.vscode

FRAMEWORK/appli-react/node_modules
FRAMEWORK/appli-react/.pnp
FRAMEWORK/appli-react/.pnp.js
FRAMEWORK/appli-react/coverage
FRAMEWORK/appli-react/build
FRAMEWORK/appli-react/.DS_Store
FRAMEWORK/appli-react/.env.local
FRAMEWORK/appli-react/.env.development.local
FRAMEWORK/appli-react/.env.test.local
FRAMEWORK/appli-react/.env.production.local
FRAMEWORK/appli-react/npm-debug.log*
FRAMEWORK/appli-react/yarn-debug.log*
FRAMEWORK/appli-react/yarn-error.log*
