#header {
    display: flex;
    align-items: center;

    img {
        height: 100px;
        border-radius: 50%;
    }

    h1 {
        text-align: center;
        flex: 1;
    }

    .zoneDroite>a {
        display: flex;
    }

}

.carteExercice {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    height: 400px;
    width: 300px;
    padding: 0px 20px;
    margin: 10px;

    border: 2px solid black;
    border-radius: 15px;
    box-sizing: border-box;

    .boutonDAffectation {
        justify-self: end;
        width: 35px;
        transition: 0.3s ease;
        margin-bottom: 10px;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }

    .imgExercice {
        height: 100%;
        width: 100%;
        overflow: hidden;
        object-fit: contain;
    }

    h2 {
        text-align: center;
    }
}

.carteExerciceDeveloppee {
    @extend .carteExercice;
    display: grid;
    grid-template-rows: min-content 300px min-content;
    width: 50vw;
    padding: 0px 20px;
    margin: 10px;
}

.popupExerciceContainer {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    // filter: brightness(0.7);
    background-color: #000000a3;
    overflow-y: scroll;

    z-index: 2; // Pour que le popup soit au dessus des cartes


    .popupExercice {

        position: relative;
        background-color: white;
        margin: 100px 0px;
        border: 5px solid black;
        width: 70%;
        height: min-content;

        &>div {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        h1,
        h2 {
            text-align: center;
        }

        img {
            width: 100%;
        }

        .croixQuitter {
            position: absolute;
            top: 0px;
            right: 0px;
            height: 50px;
            width: 50px;
            padding: 10px;
            font-size: 2em;
            border-radius: 50%;

            cursor: pointer;

            &:hover {
                background-color: #00000013;
            }
        }

        .performances {
            margin: 0px 30px 30px 30px;

            .boutonNouvellePerf {
                height: 40px;
                width: 50%;
            }

            form {
                border: 1px solid black;

                #repetitions {
                    width: 5ch;
                }

                #charge {
                    width: 5ch;

                }
            }
        }

        form {}
    }
}