#home {
    display: flex;
    flex-direction: column;
    align-items: center;

    .filtres {
        .programmes {
            .selectionne {
                background-color: #e0e0e0;
            }
        }
    }

    .exercices {
        display: flex;
        flex-wrap: wrap;
    }
}